Makefile
*.o
*.bundle
*.so
*.dll
*.gemspec
pkg
doc
.DS_Store
.config
ext/langscan/c/c/extconf.rb
ext/langscan/csharp/csharp/extconf.rb
ext/langscan/d/d/extconf.rb
ext/langscan/elisp/elisp/extconf.rb
ext/langscan/java/java/extconf.rb
ext/langscan/javascript/javascript/extconf.rb
ext/langscan/php/php/extconf.rb
ext/langscan/python/python/extconf.rb
ext/langscan/scheme/scheme/extconf.rb
ext/langscan/sh/sh/extconf.rb
ext/langscan/c/c/*.c
ext/langscan/csharp/csharp/*.c
ext/langscan/d/d/*.c
ext/langscan/elisp/elisp/*.c
ext/langscan/java/java/*.c
ext/langscan/javascript/javascript/*.c
ext/langscan/php/php/*.c
ext/langscan/python/python/*.c
ext/langscan/scheme/scheme/*.c
ext/langscan/sh/sh/*.c
ext/langscan/c/c/*.h
ext/langscan/csharp/csharp/*.h
ext/langscan/d/d/*.h
ext/langscan/elisp/elisp/*.h
ext/langscan/java/java/*.h
ext/langscan/javascript/javascript/*.h
ext/langscan/php/php/*.h
ext/langscan/python/python/*.h
ext/langscan/scheme/scheme/*.h
ext/langscan/sh/sh/*.h
